/* main setup */
body {
  background: #e2e1da;
}

#main {
  overflow: auto;
}

#intro {
  overflow: auto;
  background-color: #2a2b4d;
}

#intro h1 {
  margin: 0;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  padding-top: 20px;
  font-weight: 500;
  color: #e2e1da;
}

#intro h4 {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-top: 10px;
  font-weight: 500;
  color: #85858d;
}

#intro p {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding-top: 10px;
  font-weight: 500;
  color: #e2e1da;
}

#content {
  float: left; 
  width: 100%;
  position: relative;
}

# svg {
  float:left;
}

#satellites {
  background: linear-gradient(#2a2b4d, #18181b);
  display: block;
  width: 100%;
  height: 1840px;
}

#gdpBars {
  background-color: #18181b;
  display: block;
  width: 100%;
  height: 1000px;
}

#bartooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#bartooltip.hidden {
  display: none;
}

#bartooltip p {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

#sattooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#sattooltip.hidden {
  display: none;
}

#sattooltip p {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

#name {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
}