/* main setup */
#main {
  overflow: auto;
}

#left {
  float: left; 
  width: 75%;
  position: relative;
}

#right {
  float: right; 
  width: 25%;
}

svg {
  float:left;
}

#satellites {
  background-color: #f4f4f4;
  display: block;
  width: 100%;
  height: 1800px;
}

#gdpBars {
  background-color: #f7f7f7;
  display: block;
  width: 100%;
  height: 800px;
}