/* main setup */
body {
  margin: 0;
  text-anchor: "middle";
  font-family: "Rajdhani", sans-serif;
  background: linear-gradient(#2a2b4d, #18181b);
}

/* header style */
#intro {
  overflow: auto;
  background-color: #2a2b4d;
  padding: 30px;
  text-align: center;
  vertical-align: top;
}

#intro h1 {
  margin: 0;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  padding-top: 20px;
  font-weight: 500;
  color: #e2e1da;
}

img {
  display: inline;
  padding-left: 25px;
  padding-right: 25px;
  vertical-align: text-top;
  transform: scale(.8);
}

#intro h4 {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding-top: 10px;
  font-weight: 500;
  color: #85858d;
}

#intro p {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding-top: 10px;
  font-weight: 500;
  color: #85858d;
}

/* legend bar style */

#legendbar {
  padding: 10px 16px;
  background: #2a2b4d;
  color: #e2e1da;
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  transform: translate(30);
  padding-top: 10px;
}

#legendbar span {
  color: #85858d;
  font-size: 14px;
  line-height: 18px;
  font-weight: 900;
}
/* style the checkboxes, adapted from: https://theblog.adobe.com/css-vs-svg-styling-checkboxes-and-radio-buttons/ */
input[type="checkbox"] {
  display: none;
}

label {
  cursor: pointer;
  padding-left: 10px;
  color: #e2e1da;
}

input[type="checkbox"][id="commercialCheck"] + label span {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: url(checkboxes/circle_check.png) no-repeat;
  background-position: left 0px;
  background-size: 200%;
}

input[type="checkbox"][id="commercialCheck"]:checked + label span {
  background: url(checkboxes/circle_check.png) no-repeat;
  background-position-x: -20px;
  background-size: 200%;
}

input[type="checkbox"][id="civilCheck"] + label span {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: url(checkboxes/triangle_check.png) no-repeat;
  background-position: left 0px;
  background-size: 200%;
}

input[type="checkbox"][id="civilCheck"]:checked + label span {
  background: url(checkboxes/triangle_check.png) no-repeat;
  background-position-x: -20px;
  background-size: 200%;
}

input[type="checkbox"][id="militaryCheck"] + label span {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: url(checkboxes/square_check.png) no-repeat;
  background-position: left 0px;
  background-size: 200%;
}

input[type="checkbox"][id="militaryCheck"]:checked + label span {
  background: url(checkboxes/square_check.png) no-repeat;
  background-position-x: -20px;
  background-size: 200%;
}

input[type="checkbox"][id="governmentCheck"] + label span {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: url(checkboxes/diamond_check.png) no-repeat;
  background-position: left 0px;
  background-size: 200%;
}

input[type="checkbox"][id="governmentCheck"]:checked + label span {
  background: url(checkboxes/diamond_check.png) no-repeat;
  background-position-x: -20px;
  background-size: 200%;
}

input[type="checkbox"][id="multipleCheck"] + label span {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: url(checkboxes/hex_check.png) no-repeat;
  background-position: left 0px;
  background-size: 200%;
}

input[type="checkbox"][id="multipleCheck"]:checked + label span {
  background: url(checkboxes/hex_check.png) no-repeat;
  background-position-x: -20px;
  background-size: 200%;
}

/* style the range slider, adapted from: http://www.cssportal.com/style-input-range/ */
input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  margin: 10px;
  width: 250px;
  padding-left: 50px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #2a2b4d;
  height: 14px;
  width: 10px;
  border-radius: 3px;
  background: #e2e1da;
  cursor: pointer;
  box-shadow: 1px 1px 1px #0d0d0d6c, 0px 0px 1px #0d0d0d6c;
  margin-top: -3px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #18181b;
  border-radius: 25px;
  border: 0px solid #000101;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  }
  
.sticky + .content {
  padding-top: 102px;
}

/* content style */

#content {
  float: left; 
  width: 100%;
  position: relative;
}

#satellites {
  background: linear-gradient(#2a2b4d, #18181b);
  display: block;
  margin-left: 0 auto; 
  margin-right: 0 auto;
}

#gdpBars {
  background-color: #18181b;
  display: block;
  margin-left: 0 auto; 
  margin-right: 0 auto;
}

#bartooltip {
  position: absolute;
  width: 180px;
  height: auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#bartooltip.hidden {
  display: none;
}

#bartooltip p {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

#sattooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#sattooltip.hidden {
  display: none;
}

#sattooltip p {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

#name {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
}

/* notes style */
#notes {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
  background: #18181b;
  color: #85858d;
}

a {
  color: #e2e1da;
  text-decoration: none;
}